            @font-face{
                font-family: billy-angel_rainbow;
                src: url(/recipe_app/public/personal_use_fonts/rainbow_bridge_personal_use.ttf);
            }
            @font-face{
                font-family: cookie-monster;
                src: url(/recipe_app/public/personal_use_fonts/cookie-monster.ttf);
            }
            @font-face{
                font-family: cutie-patootie-skinny;
                src: url(recipe_app/public/personal_use_fonts/cutie-patootie-skinny.ttf);
            }
            @font-face{
                font-family: cutie-patootie-medium;
                src: url(recipe_app/public/personal_use_fonts/cutie-patootie.ttf);
            }
            body{
                margin: 0;
                font-family: cutie-patootie-skinny;
                background-color: black;
                color: #FA6900;
            }
            header{
                background: url("/images/banner_cook.png");
                background-position: top center;
                background-repeat: no-repeat;
                background-size: 100%;
                height: 400px;
            }
            nav{
                overflow: hidden;
            }
            nav a:link{
                float: right;
                display: block;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 20px;
                color: black;
                font-family: cutie-patootie-medium;
            }
            nav a:visited{
                float: right;
                display: block;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 30px;
                color:white;
                font-family: cutie-patootie-medium;
            }
            nav a:hover{
                float: right;
                display: block;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 20px;
                color:#ff9900;
                font-family: cutie-patootie-medium;
            }
             nav a:active{
                float: right;
                display: block;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 20px;
                color:green;
                font-family: cutie-patootie-medium;
            }
            
            #search{
                text-align: center;
                font-family:cutie-patootie-medium;
                color:#FA6900;
                margin: auto;
            }
            
            .style1{
                text-align: center;
                font-family: cookie-monster;
                color: #FA6900;
            }
    
            h1{
                color:#FF003C;
                opacity: 0.8;
                text-align:center;
                margin-top: 242px;
                font-family: billy-angel_rainbow;
                font-size: 50px;
                padding-top: 12px;
                padding-bottom: 14px;
                margin-bottom: 3px;
            }
            table{
                border-color: #FA6900;
                border: solid;
                text-align: center
            }
            
            td{
                border: solid #69D2E7;
                font-family: cookie-monster;
            }
            th{
                font-family: billy-angel_rainbow;
                color:white;
            }
            a{
                text-decoration: none;
                color: #69D2E7;
            }
        
            p{
                margin-top: 40px;
                padding-top: 50px;
                color:#FA6900;
                text-align: center;
                font-family: cookie-monster;
                font-size: 17px;
            }
            