<div>
    <form action="/search">
    <input type="text" name="title" placeholder="Search for...">
    <input type="submit" value="Search">
</form>
Or

<a href="/add"><button>Add Recipe</button></a>
</div>