<div id="search">
    <h2 class="style1"> Would you like to search for a recipe?</h2>
    <form action="/search">
    <input type="text" name="title" placeholder="Search for...">
    <input type="submit" value="Search">
</form>
    <h2 class="style1">Or would you like to add a recipe?</h2>
<a href="/add"><button>Add Recipe</button></a>
</div>