<!DOCTYPE html>
<html>
  <head>
        <title>Home</title>
    <title>Recipe Fun</title>
    <%= csrf_meta_tags %>
    <link rel="icon" href="/images/favicon_pineapple.png" type="image/png">
    <link rel="stylesheet" href="stylesheet.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
            <nav>
                <a href="/home">Look for a Recipe</a>
                <a href="/add">Add a Recipe</a>
                <a href="/home">Home</a>
            </nav>
        </header>
    <%= yield %>
  </body>
</html>
